<!DOCTYPE>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <body  ng-app="chemstore" ng-controller="membersController">    
        <caption><H3>เพิ่มสมาชิก</H3></caption>
        <table width="100%" border="0"  id="here">
            <tr>
                <td align="right"><label for="code">รหัส :</label></td>
                <td><input ng-model="addMember.code" type="text" class="" id="form-code" /></td>
            </tr>
            <tr>
                <td align="right"><label for="user">username :</label></td>
                <td><input ng-model="addMember.user" type="text" class="" id="form-user" /></td>
            </tr>
            <tr>
                <td align="right"><label for="pass">password :</label></td>
                <td><input ng-model="addMember.pass" type="password" class="" id="form-pass" /></td>
            </tr>
            <tr>
                <td align="right"><label for="tname">คำนำหน้า :</label></td>
                <td><input ng-model="addMember.tname" type="text" class="" id="form-tname" /></td>
            </tr>
            <tr>
                <td align="right"><label for="fname">ชื่อ :</label></td>
                <td><input ng-model="addMember.fname" type="text" class="" id="form-fname" /></td>
            </tr>
            <tr>
                <td align="right"><label for="lname">นามสกุล :</label></td>
                <td><input ng-model="addMember.lname" type="text" class="" id="form-lname" /></td>
            </tr>
            <tr>
                <td align="right"><label for="tel">เบอร์โทร :</label></td>
                <td><input ng-model="addMember.tel" type="text" class="" id="form-tel" /></td>
            </tr>
            <tr>
                <td align="right"><label for="acctyp">ประเภท :</label></td>
                <td>
                    <select ng-model="addMember.acctyp" ng-options="option.cat_name for option in listAcountType" ng-change="showValue()">
                        <option value="">เลือกประเภท...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td >

                </td>
                <td>
                    <input type="button" ng-click="createMember()" name="createMember" value="เพิ่ม" />
                    <input type="button" ng-click="clearMember()" name="clearMember" value="ยกเลิก" />
                </td>
            </tr>
        </table>
    </body>
</html>