<!DOCTYPE>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>
            เพิ่มสมาชิก
        </title>
    </head>
    
    <script src="../js/angular.min.js"></script>
    <script src="../js/memberController.js" type="text/javascript"></script>
    <body  ng-app="chemstore" ng-controller="membersCtrl">    
        
        <caption><H3>เพิ่มสมาชิก</H3></caption>
        <table width="100%" border="0"  id="here">
            <tr>
                <td align="right"><label for="code">รหัส :</label></td>
                <td><input ng-model="code" type="text" class="" id="form-code" /></td>
            </tr>
            <tr>
                <td align="right"><label for="user">username :</label></td>
                <td><input ng-model="user" type="text" class="" id="form-user" /></td>
            </tr>
            <tr>
                <td align="right"><label for="pass">password :</label></td>
                <td><input ng-model="pass" type="password" class="" id="form-pass" /></td>
            </tr>
            <tr>
                <td align="right"><label for="tname">คำนำหน้า :</label></td>
                <td><input ng-model="tname" type="text" class="" id="form-tname" /></td>
            </tr>
            <tr>
                <td align="right"><label for="fname">ชื่อ :</label></td>
                <td><input ng-model="fname" type="text" class="" id="form-fname" /></td>
            </tr>
            <tr>
                <td align="right"><label for="lname">นามสกุล :</label></td>
                <td><input ng-model="lname" type="text" class="" id="form-lname" /></td>
            </tr>
            <tr>
                <td align="right"><label for="tel">เบอร์โทร :</label></td>
                <td><input ng-model="tel" type="text" class="" id="form-tel" /></td>
            </tr>
            <tr>
                <td align="right"><label for="acctyp">ประเภท :</label></td>
                <td>
                    <select ng-model="acctyp" ng-options="option.cat_name for option in listAcountType" ng-change="showValue()">
                        <option value="">เลือกประเภท...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td >
                    
                </td>
                <td>
                    <input type="button" ng-click="createMember()" name="createMember" value="เพิ่ม" />
                    <input type="button" ng-click="clearMember()" name="clearMember" value="ยกเลิก" />
                </td>
            </tr>
        </table>
        
    </body>
</html>