<!DOCTYPE>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body  ng-app="chemstore" ng-controller="addProjectCtrl">    

        <caption><H3>เพิ่มโปรเจค</H3></caption>
        <table width="100%" border="0"  id="here">
            <tr>
                <td align="right"><label for="acctyp">อาจารย์ :</label></td>
                <td>
                    <input type="text" ng-model="addProject.teacher" ng-disabled="true"/>
                </td>
            </tr>
            <tr>
                <td align="right"><label for="cp_name">ชื่อโปรเจค :</label></td>
                <td><input ng-model="addProject.cp_name" type="text" class="" id="form-cp_name" /></td>
            </tr>
            <tr>
                <td align="right"><label for="cp_budget">งบประมาณ :</label></td> 
                <td><input ng-model="addProject.cp_budget" type="text" class="" id="form-cp_budget" />&nbsp;งบที่คงเหลืออยู่{{listAcountData[0].ca_credit-addProject.cp_budget}}</td>
            </tr>
            <tr>
                <td align="right"><label for="cp_desc">รายละเอียด :</label></td>
                <td><textarea ng-model="addProject.cp_desc" id="form-cp_desc" rows="4" cols="50"></textarea></td>
            </tr>
            <tr>
                <td >

                </td>
                <td>
                    <input type="button" ng-click="createProject()" name="createProject" value="เพิ่ม" />
                    <input type="button" ng-click="cancleProject()" name="cancleProject" value="ยกเลิก" />
                </td>
            </tr>
        </table>
    </body>
</html>