    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href=""><i class="glyphicon glyphicon-book"></i>&nbsp;จัดการข้อมูลโปรเจค</a>
            </div>
        </div>
    </nav>
   
    <div class="container">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><b><i class="fa fa-plus-circle fa-lg"></i>&nbsp;เพิ่มโปรเจคใหม่</b></h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" >
                        <div class="form-group">
                            <label for="acctyp" class="col-sm-3 control-label">อาจารย์ :</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="addProject.teacher" ng-disabled="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cp_name" class="col-sm-3 control-label">ชื่อโปรเจค :</label>
                            <div class="col-sm-4">
                                <input class="form-control" ng-model="addProject.cp_name" type="text" class="" id="form-cp_name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cp_budget" class="col-sm-3 control-label">งบประมาณ :</label>
                            <div class="col-sm-4">
                                <input class="form-control" ng-model="addProject.cp_budget" type="text" class="" id="form-cp_budget" />&nbsp;งบคงเหลือ : {{listAcountData[0].ca_credit-addProject.cp_budget}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cp_desc" class="col-sm-3 control-label">รายละเอียด :</label>
                            <div class="col-sm-4">
                                <textarea ng-model="addProject.cp_desc" id="form-cp_desc" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer" align="right">    
                    <div class="col-sm-offset-10 ">
                        <input type="button" class="btn btn-success" ng-click="createProject()" name="createProject" value="เพิ่ม" />
                        <input type="button" class="btn btn-danger" ng-click="cancleProject()" name="cancleProject" value="ยกเลิก" />
                    </div>
                </div>
            </div>
         </div>
        