<style>
    th,td{
        text-align: center;
    }
</style>
<div  ng-show="page == 1">
        <caption><center><h4><b><i class="fa fa-folder-open"></i>&nbsp;ค้นหาสถานะใบเสร็จ</b></h4></center></caption><hr>
    <form class="form-horizontal" role="form" >
        <div class="form-group">
            <label for="code" class="col-sm-4 control-label" >เลขที่ใบเสร็จ :</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="recieptPk" type="text" class="" id="form-code" />
            </div>
            <input type="button" value="ค้นหา" class="btn btn-info" ng-click="findReciept()">
        </div>
    </form>
</div>

<div ng-show="page == 2">
    <caption><center><h4><b><i class="fa fa-list-alt"></i>&nbsp;สถานะคำร้องขอเบิกสารเคมี</b></h4></center></caption><hr>
    <input type="button" class="btn btn-default" value="ย้อนกลับ" ng-click="page = 1" style="float:right;">
    <table class="table table-bordered">
        <tr>
            <th>ลำดับที่</th>
            <th>เลขที่ใบเสร็จ</th>
            <th>วันที่ร้องขอ</th>
            <th>สถานะการร้องขอ</th>
            <th>ราคารวมทั้งสิ้น</th>
            <th>รายละเอียด</th>
        </tr>
        <tr ng-repeat="showdata in listReciept">
            <td>
            {{$index+1}}
            </td>
            <td>
            {{showdata.cr_no}}
            </td>
            <td>
            {{showdata.cr_crtDt | Date}}
            </td>
            <td><div ng-bind-html="showdata.cr_status | confirmFilter"></div></td>
            <td> 
            {{showdata.cr_cost | number:4}}
            </td>
            <td>
                  <input type="button" class="btn btn-info" value="แสดงรายละเอียด" ng-click="showdetail(showdata.cr_pk,$index)">
            </td>
    </tr>
    </table> 
</div> 

<div ng-show="page == 3">
    <caption><center><h4><b><i class="fa fa-list-alt"></i>&nbsp;รายละเอียดข้อมูลการเบิกสารเคมี</b></h4></center></caption><hr>
        <form action="../tcpdf/examples/export_pdf_withdraw.php" target="_blank" method="post" class="navbar-form navbar-right">
            <input type="hidden" value="{{listReciept[index].cr_pk}}" name="crd_cr_fk">
            <input type="submit" class="btn btn-default" ng-hide="listReciept[index].cr_status != 3" value="พิมพ์ใบเสร็จ">
            <input type="button" class="btn btn-default" value="ย้อนกลับ" ng-click="page = 2" style="float:right;">
        </form>
    <form class="navbar-form navbar-left">
        ใบคำร้องที่ : {{listReciept[index].cr_no}} <br>
        วันที่ร้องขอ : {{listReciept[index].cr_crtDt | Date}} <br>
        สถานะคำร้องขอปัจจุบัน : <font ng-bind-html="listReciept[index].cr_status | confirmFilter"></font><br>
        โปรเจคที่ร้องขอ : {{listReciept[index].cp_name}} <br>
        ผู้เขียนคำร้องขอ : {{listReciept[index].ca_tname}}{{listReciept[index].ca_fname}}&nbsp;{{listReciept[index].ca_lname}}<br>
        เหตุผลประกอบคำร้องขอ : 
        <p style="width:100%;">{{listReciept[index].cr_desc}}</p>
    </form>
    <table width="100%" class="table table-striped">
        <tr>
            <th>ชื่อสารเคมี</th>
            <th>จำนวนคงเหลือปัจจุบัน</th>
            <th>จำนวนที่ต้องการเบิก</th>
            <th>หน่วย</th>
            <th>ราคารวม</th>
            <th>สถานที่</th>
            <th>สถานะ</th>
            <th>หมายเหตุ</th>
        </tr>
        <tr ng-repeat="showdata in chemdetail">
            <td>
                {{showdata.cc_name}}
            </td>
            <td>{{showdata.cc_quantity | number:4}}</td>
            <td>
                {{showdata.crd_amt | number:4}}
            </td> 
            <td>
                {{showdata.crd_unit |uppercase}}
            </td>
            <td>{{showdata.crd_price}}</td>
            <td>{{showdata.cl_name}}</td>
            <td ng-bind-html="showdata.crd_status | confirmFilter"></td>
            <td>{{showdata.crd_desc}}</td>
        </tr>
      </table>
    
    <form class="navbar-form navbar-right">
        <div class="well" style="width: 250px;">
            ค่าใช้จ่ายรวม : {{listReciept[index].cr_cost | number:4}} บาท
        </div>
    </form>
</div>