    <div ng-controller= "inboundChemController" ng-init="inbound=true; new=true">
        <div class ="container">    
            <!--     เพิ่มสารใหม่       -->
            <div>
            <caption><H3>เพิ่มสารเคมีใหม่</H3></caption>
                <table width="100%" border="0">
                    <tr>
                        <td align="right"><label for="cc_name">ชื่อสารเคมี :</label></td>
                        <td><input ng-model="addChem.cc_name" type="text" class="" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_type">ประเภทสารเคมี :</label></td>
                        <td><input ng-model="addChem.cc_type" type="text" class="" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_code">รหัสสารเคมี :</label></td>
                        <td><input ng-model="addChem.cc_code" type="text" class="" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_casNo">เลขอ้างอิงเฉพาะ (Cas no.) :</label></td>
                        <td><input ng-model="addChem.cc_casNo" type="text" class="" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_state">สถานะสาร :</label></td>
                        <td>
                            <select ng-model="addChem.cc_state">
                                <option value="S" >solid</option>
                                <option value="L">liquid</option>
                                <option value="G">gas</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_volume">ขนาดบรรจุ :</label></td>
                        <td><input ng-model="addChem.cc_volume" type="text" class="" />
                            
                            <select  ng-model="addChem.cu_pk" >
                                <option ng-repeat="lu in listUnit" value="{{lu.cu_pk}}" >{{lu.cu_name_abb}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_quantity">จำนวน :</label></td>
                        <td><input ng-model="addChem.cc_quantity" type="text" class="" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_packing">จำนวนแพ็ค :</label></td>
                        <td><input ng-model="addChem.cc_packing" type="text" class="" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="location">คลัง :</label></td>
                        <td>
                            <select  ng-model="addChem.cl_pk" >
                                <option ng-repeat="lu in listLoc" value="{{lu.cl_pk}}" >{{lu.cl_name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_room">ห้อง :</label></td>
                        <td><input ng-model="addChem.cc_room" type="text" class="" /></td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_price">ราคา :</label></td>
                        <td><input ng-model="addChem.cc_price" type="text" class="" /></td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_grade">เกรด :</label></td>
                        <td><input ng-model="addChem.cc_grade" type="text" class="" /></td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_expDt">วันหมดอายุ :</label></td>
                        <td><input ng-model="addChem.cc_expDt" type="date" class="" /></td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_producer">ผู้ผลิต :</label></td>
                        <td><input ng-model="addChem.cc_producer" type="text" class="" /></td>
                    </tr>
                    <tr>
                        <td align="right"><label for="cc_desc">หมายเหตุ :</label></td>
                        <td><textarea ng-model="addChem.cc_desc" id="form-cc_desc" rows="4" cols="50"></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="button" ng-click="insertChem()" name="inserChem" value="ยืนยัน" />
                            <input type="button" ng-click="cancleChem()" name="cancleChem" value="ยกเลิก" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>