<!DOCTYPE>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>
            นำเข้าสารเคมี
        </title>
    </head>
    
    <script src="../js/angular.min.js"></script>
    <script src="../js/inboundChemController.js" type="text/javascript"></script>
    <body  ng-app="chemstore" ng-controller="inboundChemController" ng-init="inbound=true; new=true">    
        
        <!--     เพิ่มสารใหม่       -->
        <div ng-show="inbound">
            <caption><H3>นำเข้าสารเคมี</H3></caption>
            ค้นหา : <input type="text" ng-model="searchThis">
            <input type="button" value="เพิ่มสารเคมี" ng-click="addChem()"><br>
            <input type="button" ng-click="deleteRecord()" value="previous">
            <select ng-init="searchRange = options[0]" 
                    ng-model="searchRange" 
                    ng-options="option.name for option in options">
            </select>
            <input type="button" ng-click="addRecord()" value="next"><br>
            <table width="100%" border="1">
            <tr>
                <th bgcolor = 66CCCC width="20%" >ชื่อสารเคมี</th>
                <th bgcolor = 66CCCC width="10%">Cas no.</th>
                <th bgcolor = 66CCCC width="5%">สถานะ</th>
                <th bgcolor = 66CCCC width="10%">ปริมาณ</th>
                <th bgcolor = 66CCCC width="10%">อาคาร</th>
                <th bgcolor = 66CCCC width="5%">ห้อง</th>
                <th bgcolor = 66CCCC width="5%">ราคา/หน่วย</th>
                <th bgcolor = 66CCCC width="5%">เกรด</th>
                <th bgcolor = 66CCCC width="10%">ผู้ผลิต</th>
                <th bgcolor = 66CCCC >นำเข้า</th>
            </tr>
            <tr ng-repeat="showdata in listChem | filter : searchThis | limitTo : searchRange.value : begin">
                <td>{{showdata.cc_name}}</td>
                <td>{{showdata.cc_casNo}}</td>
                <td>{{showdata.cc_state}}</td>
                <td>{{showdata.cc_quantity}}</td>
                <td>{{showdata.cl_name}}</td>
                <td>{{showdata.cc_room}}</td>
                <td>{{showdata.cc_price}}/{{showdata.cu_name_abb}}</td>
                <td>{{showdata.cc_grade}}</td>
                <td>{{showdata.cc_producer}}</td>
                <td><input type="button" value="เลือก" ng-click="addCart(showdata)"></td>
            </tr>
        </table> 
            
        <caption><H3>สารเคมีที่นำเข้า</H3></caption>
        
        <form>
            <table border="1">
                <tr>
                    <th bgcolor = 66CCCC width="20%" >ชื่อสารเคมี</th>
                    <th bgcolor = 66CCCC width="10%">Cas no.</th>
                    <th bgcolor = 66CCCC width="20%">ปริมาณ</th>
                    <th bgcolor = 66CCCC width="20%">หน่วย</th>
                    <th bgcolor = 66CCCC >ยกเลิก</th>
                </tr>
                <tr ng-repeat="showdata in cartlist">
                    <td>{{showdata.cc_name}}</td>
                    <td>{{showdata.cc_casNo}}</td>
                    <td><input type="text" ng-model="cartlist[$index].volumeRequest" placeholder="{{showdata.cc_quantity}}"></td>
                    <td>{{showdata.cu_name_abb}}</td>
                    <td><input type="button" value="ยกเลิก" ng-click="deleteCart($index)"></td>
                </tr>
            </table>
            <input type="submit" value="ยืนยันการนำเข้า" ng-click="createRequest()">
            
            
        </div>
        

        <!--     เพิ่มสารใหม่       -->
        <div ng-show="!new">
        <caption><H3>เพิ่มสารเคมีใหม่</H3></caption>
            <table width="100%" border="0">
                <tr>
                    <td align="right"><label for="cc_name">ชื่อสารเคมี :</label></td>
                    <td><input ng-model="cc_name" type="text" class="" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_type">ประเภทสารเคมี :</label></td>
                    <td><input ng-model="cc_type" type="text" class="" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_code">รหัสสารเคมี :</label></td>
                    <td><input ng-model="cc_code" type="text" class="" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_casNo">เลขอ้างอิงเฉพาะ (Cas no.) :</label></td>
                    <td><input ng-model="cc_casNo" type="text" class="" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_state">สถานะสาร :</label></td>
                    <td>
                        <select ng-model="cc_state">
                            <option value="" >เลือกสถานะ</option>
                            <option value="S" >solid</option>
                            <option value="L">liquid</option>
                            <option value="G">gas</option>
                        </select> {{cc_state}}
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_volume">ขนาดบรรจุ :</label></td>
                    <td><input ng-model="cc_volume" type="text" class="" />
                        
                        <select ng-model="cc_unit_fk" ng-options="lu.cu_name_abb for lu in listUnit">
                            <option value="">เลือกหน่วย</option>
                        </select> {{cc_unit_fk.cu_pk}}
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_quantity">จำนวน :</label></td>
                    <td><input ng-model="cc_quantity" type="text" class="" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_packing">จำนวนแพ็ค :</label></td>
                    <td><input ng-model="cc_packing" type="text" class="" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="location">คลัง :</label></td>
                    <td>
                        <select ng-model="cc_location_fk" ng-options="ll.cl_name for ll in listLoc">
                            <option value="">เลือกสถานที่</option>
                        </select> {{cc_location_fk.cl_pk}}
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_room">ห้อง :</label></td>
                    <td><input ng-model="cc_room" type="text" class="" /></td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_price">ราคา :</label></td>
                    <td><input ng-model="cc_price" type="text" class="" /></td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_grade">เกรด :</label></td>
                    <td><input ng-model="cc_grade" type="text" class="" /></td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_expDt">วันหมดอายุ :</label></td>
                    <td><input ng-model="cc_expDt" type="date" class="" /></td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_producer">ผู้ผลิต :</label></td>
                    <td><input ng-model="cc_producer" type="text" class="" /></td>
                </tr>
                <tr>
                    <td align="right"><label for="cc_desc">หมายเหตุ :</label></td>
                    <td><textarea ng-model="cc_desc" id="form-cc_desc" rows="4" cols="50"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" ng-click="insertChem()" name="inserChem" value="ยืนยัน" />
                        <input type="button" ng-click="cancleChem()" name="cancleChem" value="ยกเลิก" /></td>
                </tr>
            </table>
        </div>
        
        
        
    </body>
</html>