<!DOCTYPE>
<html ng-app="chemstore" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<head>
  <title></title>
</head>
  <script src="../js/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../js/angular-route.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  
<body ng-controller="loginController" ng-init="checkSession(); checked=true; dis=true; btng1=true; btng2=true; btng3=true; fix=true">
type : {{type}}
<!-- Controllers -->
    <script src="../js/controller/menuController.js"></script>
    <script src="../js/controller/categoryController.js"></script>
    <script src="../js/controller/editmemberCtrl.js"></script>
    <script src="../js/controller/inboundChemController.js" ></script>
    <script src="../js/controller/submitRequestController.js"></script>
    <script src="../js/controller/loginController.js"></script>
<!-- Controllers -->
    
<!--script-->
    <script src="../js/routing.js"></script>
<!--script-->

    <!--    login by manager    -->
  <nav class="navbar navbar-default" ng-show="type == 1">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/viewStock">คลังสารเคมี</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >จัดการคำร้องขอ<span class="caret"></span></a>
            <ul class="dropdown-menu" >
              <li><a href="#/requestChem">คำร้องขอสารเคมี</a></li>
            </ul>
        </li>  
        <li><a href="#/inboundChem" >นำเข้าสารเคมี</a></li>

        <li><a href="#/viewReciept" >เบิกสารเคมี</a></li>

        <li><a href="#/sold" >ขายคืน</a></li>
            
        <li><a href="#/viewProject" >โปรเจคนักศึกษา</a></li>
          
        <li><a href="#/transfer" >ย้ายคลัง</a></li>

        <li><a href="#/editChem" >แก้ไขข้อมูลสารเคมี</a></li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >ประวัติรายการ<span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li><a href="#/importlog"  >ประวัติการนำเข้า</a></li>
            <li><a href="#/withdrawlog"  >ประวัติการเบิกสาร</a></li>
            <li><a href="#/salelog"  >ประวัติการขายคืน</a></li>
          </ul>
        </li>

        <li><a href="#/viewStock" >คลังสารเคมี</a></li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >ระบบ<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/addMember" >เพิ่มผุ้ใช้งาน</a></li>
            <li><a href="#/editMember" >แก้ไขข้อมูลผู้ใช้งาน</a></li>
            <li><a href="#/addProject">เพิ่มโปรเจค</a></li>
          </ul>
        </li>
        <li><a href="../php/logout.php" >ออกจากระบบ</a></li>
      </ul>
      </div>
    </nav>
    
    <!--    ไม่ได้ login    -->
    <nav class="navbar navbar-default" ng-show="type == ''">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">หน้าแรก</a>
            <a class="navbar-brand" href="#/viewStock">คลังสารเคมี</a>
            <a class="navbar-brand" href="#/contact">ติดต่อเรา</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search" ng-controller="loginController" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="login.username">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password">
                </div>
                <input class="btn btn-default" type="submit" value="Log in" ng-click="createLogin()"/>
                <input class="btn btn-default" type="reset" value="Clear" />
            </form>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <div ng-view="">
      
  </div>
</body>
</html>

