<style>
    th, td {
        text-align: center;
    }
</style>  

<div ng-show="showcontent == 1">
<caption><center><h4><b><i class="fa fa-file-text-o"></i>&nbsp;ประวัติการย้ายคลังสารเคมี</b></h4></center></caption><hr>
            <strong>จากคลัง :</strong>
            <select ng-model="logExchg.locationF" name="locationF">
                <option ng-repeat="lu in listLocation" value="{{lu.cl_pk}}" >{{lu.cl_name}}</option>
            </select>
            
            <strong>ไปคลัง :</strong>
            <select ng-model="logExchg.locationT" name="locationT">
                <option value="" >---เลือก---</option>
                <option ng-repeat="lu in listLocation" value="{{lu.cl_pk}}" >{{lu.cl_name}}</option>
            </select>

            <br>
            <br>
              
            <strong>ตั้งแต่ :</strong>
            <input ng-model="logExchg.stDt" name="stDt" type="date" />
              
            <strong>ถึง :</strong>
            <input ng-model="logExchg.edDt" name="edDt" type="date" />
            <br>
            <br>
            
            <strong>เลขที่ใบย้าย :</strong>
            <input type="text" ng-model="logExchg.no" name="no" /><br><br>
              {{logExchg}}
            <button type="button" class="btn btn-default" ng-click="search()" >ค้นหา</button>   
</div>
        
<div ng-show="showcontent == 2">
    <form method="post" action="../tcpdf/examples/export_pdf_transfer_log.php" target="_blank" class="navbar-form navbar-right">
        <button type="button" class="btn btn-default" ng-click="showcontent = 1" >ย้อนกลับ</button>
        <input type="hidden" value="{{key}}" name="type">
        <input type="submit" class="btn btn-default" value="พิมพ์รายงาน" >
    </form>
    <table class= "table table-bordered" >
        <tr>
            <th>ลำดับ</th>
            <th>วันที่เขียนคำร้อง</th>
            <th>วันที่อนุมัติ</th>
            <th>เลขที่ใบย้าย</th>
            <th>บัญชีผู้ใช้</th>
            <th>จากคลัง</th>
            <th>ไปคลัง</th>
            <th>รายละเอียด</th>
        </tr>
        <tr ng-repeat="showdata in listReciept">
            <td>{{$index+1}}</td>
            <td>{{showdata.ce_crtDt | Date}}</td>
            <td>{{showdata.ce_updDt | Date}}</td>
            <td>{{showdata.ce_no}}</td>
            <td>{{showdata.ca_tname+" "+showdata.ca_fname+" "+showdata.ca_lname}}</td>
            <td>{{showdata.ce_fromstore}}</td>
            <td>{{showdata.ce_tostore}}</td>
            <td style="text-align: center;">
                <button type="button" class="btn btn-default" value="แสดง" ng-click="showdetail($index)">แสดง</button>
            </td>
        </tr>
    </table>
</div>
<div ng-show="showcontent == 3">
    <form class="navbar-form navbar-right">
        <button type="button" class="btn btn-default" ng-click="showcontent = 2" >ย้อนกลับ</button>
    </form>
    <table class="table table-bordered" width="100%">
        <tr>
            <th>ลำดับ</th>
            <th>ชื่อสารเคมี</th>
            <th>Cas no.</th>
            <th>เกรด</th>
            <th>จำนวน</th>
            <th>หน่วย</th>
        </tr>
        <tr ng-repeat="showdata in chemdetail">
            <td>{{$index+1}}</td>
            <td>
                {{showdata.cc_name}}
            </td>  
            <td>
                {{showdata.cc_casNo}}
            </td>  
            <td>
                {{showdata.cc_grade}}
            </td>  
            <td>
                {{showdata.ced_amt}}
            </td>  
            <td>
                {{showdata.ced_unit}}
            </td>
        </tr>
    </table>
</div>
