<body ng-controller="loginController">
    <div class="container" class="col-md-5">
        <form  role="form" method="post" >
            <div class="form-group">
                <label for="user">Username : </label>
                <input class="form-control" type="text" size="20" ng-model="login.username"/><br />
            </div>
            <div class="form-group">
                <label for="pwd">Password : </label>
                <input class="form-control" type="password" size="20" ng-model="login.password"/><br />
            </div>
            <input class="btn btn-default" type="submit" value="Log in" ng-click="createLogin()"/>
            <input class="btn btn-default" type="reset" value="Clear" />
        </form>
    </div>
</body>
