<style>
    th, td {
        text-align: center;
    }
</style>  

<caption><center><h4><b><i class="fa fa-file-text-o"></i>&nbsp;ประวัติการเบิกสารเคมี </b></h4></center></caption><hr>
<form method="post" action="../tcpdf/examples/export_pdf_withdraw_log.php" target="_blank">
<div ng-show="showcontent == 1">
    
    <strong>ตั้งแต่ :</strong>
    <input ng-model="logRecpt.stDt" name="stDt" type="date" />

    <strong>ถึง :</strong>
    <input ng-model="logRecpt.edDt" name="edDt" type="date" />
    <br>
    <br>

    <strong>เลขที่ใบเบิก :</strong>
    <input type="text" ng-model="logRecpt.no" name="no" /><br><br>

    <strong>ชื่อโปรเจค :</strong>
    <input type="text" ng-model="logRecpt.project" name="project" /><br><br>

    <button type="button" class="btn btn-default" ng-click="search()" ><i class="fa fa-search" aria-hidden="true"></i>&nbsp;ค้นหา</button> 
</div>

<div ng-show="showcontent == 2">
    <caption><center><h5><b><i class="fa fa-search"></i>&nbsp;รายการข้อมูลที่ค้นหา</b></h5></center></caption>
    <form class="navbar-form navbar-right">
        <input type="hidden" value="{{key}}" name="findthis">
        <input type="hidden" value="{{type}}" name="findtypethis">
        <button type="button" class="btn btn-default"  ng-click="showcontent = 1"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;ย้อนกลับ</button>
        <button type="submit" class="btn btn-default" ><i class="fa fa-print" aria-hidden="true"></i>&nbsp;พิมพ์รายงาน</button>
    </form>
    <table class = "table table-bordered"  width="100%">
        <tr>
            <th>ลำดับที่</th>
            <th>วันที่เขียนคำร้อง</th>
            <th>วันที่ได้รับอนุมัติ</th>
            <th>เลขที่ใบเบิก</th>
            <th>บัญชีผู้ใช้</th>
            <th>โปรเจค</th>
            <th>รายละเอียด</th>
        </tr>
        <tr ng-repeat="showdata in listReciept">
            <td>{{$index+1}}</td>
            <td>
                {{showdata.cr_crtDt | Date}}

            </td>
            <td>
                {{showdata.cr_updDt | Date}}
            </td>
            <td>{{showdata.cr_no}}</td>
            <td>{{showdata.ca_tname+" "+showdata.ca_fname+" "+showdata.ca_lname}}</td>
            <td>{{showdata.cp_name}}</td>
            <td>
                <input type="button" value="แสดง" ng-click="showdetail(showdata.cr_pk,$index)">
            </td>
        </tr>
    </table>
</div>
<div ng-show="showcontent == 3">
    <caption><center><h5><b><i class="fa fa-info-circle"></i>&nbsp;รายละเอียดเพิ่มเติม</b></h5></center></caption>
    
        <button type="button" class="btn btn-default"  ng-click="showcontent = 2"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;ย้อนกลับ</button>
    

    <table class= " table table-bordered" width="100%">
        <tr>
            <th>ชื่อสารเคมี</th>
            <th>จำนวน</th>
            <th>หน่วย</th>
            <th>คลัง</th>
            <th>ราคา</th>
        </tr>
        <tr ng-repeat="showdata in listRecieptDetail">
            <td>
                {{showdata.cc_name}}
            </td>  
            <td>
                {{showdata.crd_amt}}
            </td>  
            <td>
                {{showdata.crd_unit}}
            </td>
            <td>
                {{showdata.cl_name}}
            </td>
            <td>
                {{showdata.crd_price}}&nbsp;บาท
            </td>  
        </tr>
      </table>
</div>
</form>
        


