<style>
    th, td {
        text-align: center;
    }
</style>  

<div class="navbar-header">
    <caption><h4><i class="fa fa-file-text-o"></i>&nbsp;ประวัติการเบิกสาร</h4></caption>
    <form method="post" action="../tcpdf/examples/export_pdf_withdraw_log.php" target="_blank">
        <input type="hidden" value="{{key}}" name="findthis">
        <input type="hidden" value="{{type}}" name="findtypethis">
        <input type="submit" class="btn btn-default" value="พิมพ์รายงาน" >
    </form>
    
    <div>
        <table class= " table table-bordered" ng-hide="loadDone">
            <tr>
                <th>วันที่เขียนคำร้อง</th>
                <th>วันที่ได้รับอนุมัติ</th>
                <th>เลขที่ใบเบิก</th>
                <th>บัญชีผู้ใช้</th>
                <th>โปรเจค</th>
                <th>รายละเอียด</th>
<!--
                <th>ชื่อสารเคมี</th>
                <th>จำนวน</th>
                <th>หน่วย</th>
                <th>คลัง</th>
                <th>ราคา</th>
-->
            </tr>
            <tr ng-repeat="showdata in listReciept">
                <td>
                    {{showdata.cr_crtDt | Datetime}}
                    
                </td>
                <td>
                    {{showdata.cr_updDt | Datetime}}
                </td>
                <td>{{showdata.cr_no}}</td>
                <td>{{showdata.ca_tname+" "+showdata.ca_fname+" "+showdata.ca_lname}}</td>
                <td>{{showdata.cp_name}}</td>
                <td>
                    <input type="button" value="แสดงลายละเอียด" ng-click="showpop(showdata.cr_pk,$index)">
                </td>
            </tr>
        </table>
        <div  ng-hide="!loadDone">
            <input type="button" value="ย้อนกลับ" ng-click="loadDone = false"><br>
            
            ชื่อผู้เบิก : {{listReciept[recieptIndex].ca_tname}}&nbsp;{{listReciept[recieptIndex].ca_fname}}&nbsp;&nbsp;{{listReciept[recieptIndex].ca_lname}}
            
            <table class= " table table-bordered" width="100%">
                <tr>
                    <th>ชื่อสารเคมี</th>
                    <th>จำนวน</th>
                    <th>หน่วย</th>
                    <th>คลัง</th>
                    <th>ราคา</th>
                </tr>
                <tr ng-repeat="showdata in listRecieptDetail">
                    <td>
                        {{showdata.cc_name}}
                    </td>  
                    <td>
                        {{showdata.crd_amt}}
                    </td>  
                    <td>
                        {{showdata.crd_unit}}
                    </td>
                    <td>
                        {{showdata.cl_name}}
                    </td>
                    <td>
                        {{showdata.crd_price}}&nbsp;บาท
                    </td>  
                </tr>
              </table>
        </div>
    </div>
</div>



<!--
<table class= " table table-bordered" >
    <tr>
        <th>วันที่-เวลา</th>
        <th>เลขที่ใบเบิก</th>
        <th>บัญชีผู้ใช้</th>
        <th>โปรเจค</th>
        <th style="text-align: center;">รายละเอียด</th>
    </tr>
    <tr ng-repeat="showdata in listReciept">
        <td>
            วันที่เขียนคำร้อง {{showdata.cr_crtDt | Datetime}}<br>
            วันที่ได้รับอนุมัติ {{showdata.cr_updDt | Datetime}}
        </td>
        <td>{{showdata.cr_no}}</td>
        <td>{{showdata.ca_tname+" "+showdata.ca_fname+" "+showdata.ca_lname}}</td>
        <td>{{showdata.cp_name}}</td>
        <td style="text-align: center;"><button type="button" class="btn btn-default" value="แสดง" ng-click="showpop(showdata)" data-toggle="modal" data-target="#myModal">แสดง</button></td>
    </tr>
</table> 
-->

<!-- Modal -->
<!--
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;รายละเอียดใบเบิกสาร</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped" width="100%">
            <tr>
                <th>ชื่อสารเคมี</th>
                <th>จำนวน</th>
                <th>หน่วย</th>
                <th>คลัง</th>
                <th>ราคา</th>
            </tr>
            <tr ng-repeat="showdata in listRecieptDetail">
                <td>
                    {{showdata.cc_name}}
                </td>  
                <td>
                    {{showdata.crd_amt}}
                </td>  
                <td>
                    {{showdata.crd_unit}}
                </td>
                <td>
                    {{showdata.cl_name}}
                </td>
                <td>
                    {{showdata.crd_price}}&nbsp;บาท
                </td>  
            </tr>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>-->
