<style>
    th, td {
        text-align: center;
    }
</style>  
<form method="post" action="../tcpdf/examples/export_pdf_withdraw_logEx.php" target="_blank">
<div ng-show="showcontent == 1">
    
    <caption><center><h4><b><i class="fa fa-file-text-o"></i>&nbsp;ประวัติการเบิกสารเคมี </b></h4></center></caption><hr>
    <strong>ตั้งแต่ :</strong>
    <input ng-model="logRecpt.stDt" name="stDt" type="date" />

    <strong>ถึง :</strong>
    <input ng-model="logRecpt.edDt" name="edDt" type="date" />
    <br>
    <br>

    <strong>เลขที่ใบเบิก :</strong>
    <input type="text" ng-model="logRecpt.no" name="no" /><br><br>

    <strong>ดูข้อมูลทั้งหมด :</strong>
    <input type="checkbox" ng-model="logRecpt.selectAll" name="selectAll" /><br><br>
    <button type="button" class="btn btn-info" ng-click="search()" ><i class="fa fa-search" aria-hidden="true"></i>&nbsp;ค้นหา</button> 
</div>

<div ng-show="showcontent == 2">
    <caption><center><h4><b><i class="fa fa-file-text-o"></i>&nbsp;ประวัติเบิกสารเคมีที่ค้นพบ</b></h4></center></caption><hr>
    
        <input type="hidden" value="{{key}}" name="findthis">
        <input type="hidden" value="{{type}}" name="findtypethis">

        <button type="submit" class="btn btn-default" style="float: right;"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;พิมพ์รายงาน</button>
        <button type="button" class="btn btn-default"  ng-click="showcontent = 1" style="float: right;"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;ย้อนกลับ</button>    
    <table class="table table-bordered">
        <tr>
            <th>ลำดับที่</th>
            <th>เลขที่ใบเสร็จ</th>
            <th>วันที่ร้องขอ</th>
            <th>สถานะการร้องขอ</th>
            <th>ยอดรวม</th>
            <th>รายละเอียด</th>
        </tr>
        <tr ng-repeat="showdata in listReciept | orderBy : 'cr_crtDt':true | filter : searchThis | limitTo : searchRange.value : begin">
            <td>
            {{$index+1}}
            </td>
            <td>
            {{showdata.cr_no}}
            </td>
            <td>
            {{showdata.cr_crtDt | Date}}
            </td>
            <td><div ng-bind-html="showdata.cr_status | confirmFilter"></div></td>
            <td> 
            {{showdata.cr_cost | number:4}}
            </td>
            <td>
                  <input type="button" class="btn btn-default" value="แสดง" ng-click="showdetail(showdata.cr_pk,$index)">
            </td>
    </tr>
    </table> 
</div>
<div ng-show="showcontent == 3">
    <caption><center><h4><b><i class="fa fa-file-text-o"></i>&nbsp;รายละข้อมูลการเบิกสารเคมี</b></h4></center></caption><hr>

        <input type="button" class="btn btn-default" value="ย้อนกลับ" ng-click="showcontent = 2"  style="float: right;">


        ใบคำร้องที่ : {{listReciept[index].cr_no}} <br>
        วันที่ร้องขอ : {{listReciept[index].cr_crtDt | Date}} <br>
        สถานะคำร้องขอปัจจุบัน : <font ng-bind-html="listReciept[index].cr_status | confirmFilter"></font><br>
        โปรเจคที่ร้องขอ : เบิกในการทำวิจัย <br>
        ผู้เขียนคำร้องขอ : {{listReciept[index].ca_tname}}{{listReciept[index].ca_fname}}&nbsp;{{listReciept[index].ca_lname}}<br>

    

    <table width="100%" class="table table-striped">
        <tr>
            <th>ชื่อสารเคมี</th>
            <th>จำนวน</th>
            <th>หน่วย</th>
            <th>ราคารวม</th>
            <th>สถานที่</th>
            <th>สถานะ</th>
        </tr>
        <tr ng-repeat="showdata in listRecieptDetail">
            <td>
                {{showdata.cc_name}}
            </td>  
            <td>
                {{showdata.crd_amt | number:4}}
            </td> 
            <td>
                {{showdata.crd_unit}}
            </td>
            <td>{{showdata.crd_price}}</td>
            <td>{{showdata.cl_name}}</td>
            <td ng-bind-html="showdata.crd_status | confirmFilter"></td>
        </tr>
      </table>
        <div class="well" style="width: 250px;float: right;" >
            ค่าใช้จ่ายรวม : {{listReciept[index].cr_cost | number:4}} บาท
        </div>
</div>
</form>
        


