<style type="text/css">
.absorbing-column {
    width: 1%;
    white-space: nowrap;
}
</style>
<form action="../php/insert_news.php" method="post" enctype="multipart/form-data" class="form-horizontal" target="_blank">
    <div class="panel panel-default">
        <div class="panel-heading">
            <caption>
                <center>
                    <h4><b><i class="fa fa-plus-circle fa-lg"></i>&nbsp;เพิ่มข่าวประชาสัมพันธ์ใหม่</b></h4></center>
            </caption>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="code" class="col-sm-4 control-label">หัวข้อ :</label>
                <div class="col-sm-4">
                    <input class="form-control" ng-model="addNews.title" name="title" type="text" class="" id="form-code" />
                </div>
            </div>
            <div class="form-group">
                <label for="user" class="col-sm-4 control-label">รายละเอียด :</label>
                <div class="col-sm-4">
                    <textarea class="form-control" ng-model="addNews.desc" id="form-desc" name="desc" rows="5" cols="50"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="pass" class="col-sm-4 control-label">Link :</label>
                <div class="col-sm-4">
                    <input class="form-control" ng-model="addNews.link" name="link" type="text" class="" id="form-link" />
                </div>
            </div>
            <div class="form-group">
                <label for="tname" class="col-sm-4 control-label">รูปภาพ :</label>
                <div class="col-sm-4">
                    <input type="file" name="fileToUpload" id="fileToUpload"
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-sm-offset-10 " align="right">       
                <input type="submit" value="อัพโหลดข่าวสาร" name="submit" ng-click="clearNews()" class="btn btn-success">
                <button class="btn btn-danger" type="reset" value="ยกเลิก">ยกเลิก</button>
            </div>
        </div>
    </div>
</form>


<div class="panel-heading">
    <caption>
        <center>
            <h4><b><i class="fa fa-plus-circle fa-lg"></i>&nbsp;เแก้ไขข่าวประชาสัมพันธ์ใหม่</b></h4></center>
    </caption>
</div>
<table id="newsTable" class="table table-bordered">
    <tr>
        <th>หัวข้อ</th>
        <th>รายละเอียด</th>
        <th width="100px">ลิงค์</th>
        <th class="absorbing-column">ลบ</th>
    </tr>
    <tr ng-repeat="showdata in news">
        <td>{{showdata.cpr_title}}
        </td>
        <td>{{showdata.cpr_desc}}</td>
        <td>
            {{showdata.cpr_link}}
        </td>
        <td class="absorbing-column">
            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteNews(showdata.cpr_pk)"><i class="fa fa-trash-o"></i></button>
        </td>
    </tr>
</table>
