<html>
    <meta charset="utf-8">
    <head>
    <title>คำร้องขอ</title>
    </head>
    <body>
        <div class="container">
            <h3>คำร้องขอสารเคมี</h3>
            <table class="table table-hover">
                <tr>
                    <th>ลำดับที่</th>
                    <th>เลขที่ใบเสร็จ</th>
                    <th>วัน-เวลาที่ร้องขอ</th>
                    <th>สถานะการร้องขอ</th>
                    <th>รายละเอียด</th>
                </tr>
                <tr ng-repeat="showdata in listReciept">
                    <td>
                    {{$index+1}}
                    </td>
                    <td>
                    {{showdata.cr_no}}
                    </td>
                    <td>
                    {{showdata.cr_crtDt | Datetime}}
                    </td>
                    <td>
                    {{showdata.cr_status}}
                    </td>
                    <td><input type="button" value="แสดง" ng-click="showPopup(showdata.cr_pk)" data-toggle="modal" data-target="#myModal"></td>
                </tr>
            </table>   
        </div>
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">รายการสารเคมี</h4>
              </div>
              <div class="modal-body">
                  <table width="100%">
                    <tr ng-repeat="showdata in chemdetail">
                        <td>
                            {{showdata.cc_name}}
                        </td>  
                        <td>
                            {{showdata.crd_amt}}
                        </td>  
                        <td>
                            {{showdata.crd_unit}}
                            
                        </td>  
                        <td>
                            {{showdata.crd_price}}&nbsp;credit
                        </td>  
                    </tr>
                  </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn btn-primary" ng-click="">บันทึก</button>
              </div>
            </div>
          </div>
        </div>  
    </body>
</html>