<style>
    th, td{
        text-align: center;
    }
</style>

<h5><i class="fa fa-file" aria-hidden="true"></i>&nbsp;คำร้องขอสารเคมี</h5><br>
<table class="table table-bordered">
    <tr style="text-align:center">
        <th>ลำดับที่</th>
        <th>เลขที่ใบเสร็จ</th>
        <th>วัน-เวลาที่ร้องขอ</th>
        <th>สถานะการร้องขอ</th>
        <th>ยอดรวม</th>
        <th>รายละเอียด</th>
    </tr>
    <tr ng-repeat="showdata in listReciept">
        <td>
        {{$index+1}}
        </td>
        <td>
        {{showdata.cr_no}}
        </td>
        <td>
        {{showdata.cr_crtDt | Datetime}}
        </td>
        <td ng-bind-html="showdata.cr_status | confirmFilter"></td>
        <td>{{showdata.cr_totalprice}}</td>
        <td>
            <button type="button" class="btn btn-default" value="แสดง" ng-click="showPopup(showdata.cr_pk,$index)" data-toggle="modal" data-target="#myModal">แสดง</button>
        </td>
    </tr>
</table> 
      

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;รายละเอียดคำร้องขอสารเคมี</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped" width="100%">
            <tr>
                <th>ชื่อสารเคมี</th>
                <th>จำนวน</th>
                <th>หน่วย</th>
                <th>คลัง</th>
                <th>ราคา</th>
            </tr>
            <tr ng-repeat="showdata in chemdetail">
                <td>
                    {{showdata.cc_name}}
                </td>  
                <td>
                    {{showdata.crd_amt}}
                </td>  
                <td>
                    {{showdata.crd_unit}}
                </td>
                <td>
                    {{showdata.cl_name}}
                </td>
                <td>
                    {{showdata.crd_price}}
                </td>  
            </tr>
          </table>
        </div>
        <div class="modal-footer">
            ค่าใช้จ่ายรวม {{listReciept[index].cr_totalprice}} บาท
            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-danger" ng-click="cancelRequest()">ไม่อนุมัติ</button>
            <button type="button" class="btn btn-success" ng-click="submitRequest()">อนุมัติ</button>
        </div>
    </div>
  </div>
</div> 