<htlm>
<meta charset="utf-8">
    <head>
        <title>
            คำร้องขอสารเคมี
        </title>
    </head>
    <script src="../js/angular.min.js"></script>
    <script src="../js/submitRequestController.js"></script>
    <body ng-app="chemstore" ng-controller="submitRequestController">
        <h1>คำร้องขอสารเคมี</h1>
        <table border="1" width="100%">
            <tr>
                <th width="10%">ลำดับคำร้องขอ</th>
                <th>เลขที่ใบเสร็จ</th>
                <th>วันที่ร้องขอ</th>
                <th>สถาณะการร้องขอ</th>
                <th>operation</th>
            </tr>
            <tr ng-repeat="showdata in listReciept">
                <td>
                {{$index+1}}
                </td>
                <td>
                {{showdata.cr_no}}
                </td>
                <td>
                {{showdata.cr_crtDt}}
                </td>
                <td>
                {{showdata.cr_status}}
                </td>
                <td><input type="button" value="showDetail" ng-click="showmodel()"></td>
            </tr>
        </table>
        
    </body>
</htlm>
