<br>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><b><i class="fa fa-plus-circle fa-lg"></i>&nbsp;เพิ่มคำร้อง</b></h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" >
                <div class="form-group">
                    <label for="cp_desc" class="col-sm-3 control-label">รายละเอียด :</label>
                    <div class="col-sm-4">
                        <textarea ng-model="cro_desc" id="form-cp_desc" rows="5" cols="65"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer" align="right">    
            <div class="">
                <input type="button" class="btn btn-success" ng-click="createRequestOther()" name="createProject" value="ส่งคำร้อง" />
                <input type="button" class="btn btn-danger" ng-click="cancleRequestOther()" name="cancleProject" value="ยกเลิก" />
            </div>
        </div>
    </div>
 </div>



