<style>
    th, td{
        text-align: center;
    }
</style>
<div ng-show="!showcontent">
    <caption><center><b><h4><i class="fa fa-file" aria-hidden="true"></i>&nbsp;คำร้องขอสารเคมี</b></h4></center></caption><hr>
    <table class="table table-bordered">
        <tr style="text-align:center">
            <th>ลำดับที่</th>
            <th>เลขที่ใบเสร็จ</th>
            <th>วัน-เวลาที่ร้องขอ</th>
            <th>สถานะการร้องขอ</th>
            <th>ยอดรวม</th>
            <th>รายละเอียด</th>
        </tr>
        <tr ng-repeat="showdata in listReciept">
            <td>
            {{$index+1}}
            </td>
            <td>
            {{showdata.cr_no}}
            </td>
            <td>
            {{showdata.cr_crtDt | Datetime}}
            </td>
            <td ng-bind-html="showdata.cr_status | confirmFilter"></td>
            <td>{{showdata.cr_cost}}</td>
            <td>
                <button type="button" class="btn btn-default" value="แสดง" ng-click="showdetail(showdata.cr_pk,$index)">แสดง</button>
            </td>
        </tr>
    </table> 
</div>
<div ng-show="showcontent">
    <caption><center><b><h4><i class="fa fa-file" aria-hidden="true"></i>&nbsp;<b>รายละเอียดคำร้องขอสารเคมี</b></h4></center></caption><hr>
        
          <table class="table table-striped" width="100%">
            <tr>
                <th>ชื่อสารเคมี</th>
                <th>จำนวน</th>
                <th>หน่วย</th>
                <th>คลัง</th>
                <th>ราคา</th>
                <th>สถานะ</th>
                <th>ดำเนินการ</th>
            </tr>
            <tr ng-repeat="showdata in chemdetail">
                <td>
                    {{showdata.cc_name}}
                </td>  
                <td>
                    {{showdata.crd_amt}}
                </td>  
                <td>
                    {{showdata.crd_unit}}
                </td>
                <td>
                    {{showdata.cl_name}}
                </td>
                <td>
                    {{showdata.crd_price}}
                </td>  
                <td ng-bind-html="showdata.crd_status | confirmFilter"></td>
                <td><input type="checkbox" ng-show="showdata.cl_name == listAcountData.ca_responplace && showdata.crd_status == 4"></td>
            </tr>
          </table>
    <table style="width:100%">
        <tr>
            <td style="text-align:right">ค่าใช้จ่ายรวม</td>
            <td style="text-align:right">{{listReciept[index].cr_totalprice}}</td>
            <td>บาท</td>
        </tr>
        <tr>
            <td style="text-align:right">ยอดเงินคงเหลือของผู้เบิก</td>
            <td style="text-align:right">{{listReciept[index].ca_credit}}</td>
            <td>บาท</td>
        </tr>
        <tr>
            <td style="text-align:right">คงเหลือ</td>
            <td style="text-align:right">{{listReciept[index].ca_credit-listReciept[index].cr_totalprice}}</td>
            <td>บาท</td>
        </tr>
        <tr>
            <td style="text-align:right">ยอดเงินคงเหลือของโปรเจค</td>
            <td style="text-align:right">{{listReciept[index].cp_budget}}</td>
            <td>บาท</td>
        </tr>
        <tr>
            <td style="text-align:right">คงเหลือ</td>
            <td style="text-align:right">{{listReciept[index].cp_budget-listReciept[index].cr_totalprice}}</td>
            <td>บาท</td>
        </tr>
    </table>
    <button type="button" class="btn btn-default" ng-click="showcontent = false">ยกเลิก</button>
</div>
