<style>
    th, td{
        text-align: center;
    }
</style>    
<div ng-show="showcontent == 1">
    <caption><center><h4><b><i class="fa fa-file"></i>&nbsp;สถานะคำร้องขอย้ายคลัง</b></h4></center></caption><hr>
    <table class="table table-bordered">
        <tr>
            <th>ลำดับที่</th>
            <th>เลขที่ใบย้าย</th>
            <th>วันที่ร้องขอ</th>
            <th>สถานะการร้องขอ</th>
            <th>รายละเอียด</th> 
        </tr>
        <tr ng-repeat="showdata in listReciept">
            <td>
            {{$index+1}}
            </td>
            <td>
            {{showdata.ce_no}}
            </td>
            <td>
            {{showdata.ce_crtDt | Date}}
            </td>
            <td ng-bind-html="showdata.ce_status | confirmFilter"></td>
            <td>
              <form action="../tcpdf/examples/export_pdf_withdraw.php" target="_blank" method="post">
                  <input type="hidden" value="{{showdata.cr_pk}}" name="crd_cr_fk">
                  <input type="button" class="btn btn-default" value="แสดง" ng-click="showdetail(showdata.ce_pk,$index)">
              </form>
            </td>
        </tr>
    </table> 
</div>
    
<div ng-show="showcontent == 2">
    <form action="../tcpdf/examples/export_pdf_transfer.php" target="_blank" method="post" class="navbar-form navbar-right">
        <input type="hidden" value="{{showdata.cr_pk}}" name="crd_cr_fk">
        
        <button type="button" class="btn btn-default"  ng-click="showcontent = 1"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;ย้อนกลับ</button>
        <button type="submit" class="btn btn-default" ng-hide="showdata.ce_status == 0 || showdata.ce_status == 2"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;พิมพ์รายงาน</button>
        
<!--        <input type="submit" class="btn btn-default" data-dismiss="modal" ng-hide="showdata.ce_status == 0 || showdata.ce_status == 2" value="พิมพ์ใบเสร็จ">-->
        
        
    </form>
    เลขที่ใบเสร็จ : {{listReciept[index].ce_no}} <br>

    วันที่ร้อง : {{listReciept[index].ce_crtDt | Date}} <br>
    <table width="100%" class="table table-striped">
        <tr>
            <th>ชื่อสารเคมี</th>
            <th>จำนวน</th>
            <th>หน่วย</th>
        </tr>
        <tr ng-repeat="showdata in chemdetail">
            <td>
                {{showdata.cc_name}}
            </td>  
            <td>
                {{showdata.ced_amt}}
            </td>  
            <td>
                {{showdata.ced_unit}}

            </td>  
        </tr>
      </table>
</div>
