<style>
    th{
        text-align: center;
    }
</style>

<caption><center><h4><b><i class="fa fa-flask"></i>&nbsp;เบิกสารเคมี</b></h4></center></caption><hr>
<caption><h4><i class="glyphicon glyphicon-comment"></i>&nbsp;เหตุผลประกอบการพิจารณาการเบิกสารเคมี</h4></caption>
<textarea ng-model="cr_desc" id="form-cp_desc" rows="5" cols="100%"></textarea>
<hr>
<hr>
<div class="navbar-header">
    <caption><h4><i class="fa fa-upload"></i>&nbsp;ตระกร้าเบิกสารเคมี</h4></caption>
</div>
<table  class= "table table-bordered">
    <tr>
        <th>ชื่อสารเคมี</th>
        <th>Cas no.</th>
        <th>สถานะ</th>
        <th>ปริมาณ</th>
        <th>ราคาขาย</th>
        <th>จำนวนที่ต้องการ</th>
        <th>หน่วย</th>
        <th>แปลงหน่วยเทียบฐานข้อมูล</th>
        <th style="text-align: center;">ลบ</th>
    </tr>
    <tr ng-repeat="showdata in cartlist">
        <td>{{showdata.cc_name}}</td>
        <td>{{showdata.cc_casNo}}</td>
        <td>{{showdata.cc_state | uppercase}}</td>
        <td>{{showdata.cc_quantity | number:4}} {{showdata.cu_name_abb|uppercase}}</td>
        <td>{{showdata.cc_price | number:4}} บาทต่อ 1 {{showdata.cu_name_abb|uppercase}}</td>
        <td>
            <div class="col-sm-9">
                <input type="number" class="form-control" ng-change="volumecal($index)" ng-model="cartlist[$index].volumeRequest" >&nbsp;&nbsp;
            </div>
        </td>
        <td>
            <select ng-model="cartlist[$index].unitRequest" ng-change="volumecal($index)" class="form-control">
                <option value="kg" ng-show="showdata.cu_name_abb == 'kg' 
                                            || showdata.cu_name_abb == 'g' 
                                            || showdata.cu_name_abb == 'mg'">
                    KG
                </option>
                <option value="g" ng-show="showdata.cu_name_abb == 'kg' 
                                            || showdata.cu_name_abb == 'g' 
                                            || showdata.cu_name_abb == 'mg'">
                    G
                </option>
                 <option value="mg" ng-show="showdata.cu_name_abb == 'kg' 
                                            || showdata.cu_name_abb == 'g' 
                                            || showdata.cu_name_abb == 'mg'">
                    MG
                </option>
                <option value="l" ng-show="showdata.cu_name_abb == 'l' 
                                           || showdata.cu_name_abb == 'ml'">
                    L
                </option>
                <option value="ml" ng-show="showdata.cu_name_abb == 'l' 
                                           || showdata.cu_name_abb == 'ml'">
                    ML
                </option>    
            </select>
        </td>
        <td>{{showdata.exvolumeRequest}} บาทต่อ 1 {{showdata.cu_name_abb|uppercase}}</td>
        <td style="text-align: center;"><button class="btn btn-danger btn-sm" value="delete" ng-click="deleteCart($index)"><i class="fa fa-times-circle"></i>&nbsp;</button></td>
    </tr>
</table>
       <div ng-show="cartlist.length == 0"><font size="5"><center>ไม่มีสารเคมีในตระกร้าเบิกสาร</center></font></div>
<hr>
        <caption><h4><i class="fa fa-upload"></i>&nbsp;คลังสารเคมี</h4></caption>
        <form class="navbar-form navbar-left">
        ระบุคำที่ต้องการค้นหา : <input type="text" ng-model="searchThis.$" placeholder="ค้นหา" class="form-control">
        &nbsp;เลือกคลัง :
        <select   ng-model="selectData" ng-change="getdata()" class="form-control">
            <option ng-repeat="lu in listLocation" value="{{lu.cl_name}}">{{lu.cl_name}}</option>
        </select>
        </form>

<form class="navbar-form navbar-right">
    <label>จำนวนแถวที่แสดง :&nbsp;</label><select ng-init="searchRange = options[0]"
            class="form-control"
            ng-model="searchRange" 
            ng-options="option.name for option in options">
    </select> 
</form>
<table class= " table table-bordered">
    <tr>
        <th>ชื่อสารเคมี</th>
        <th>Cas no.</th>
        <th>สถานะ</th>
        <th>ปริมาณ</th>
        <th>ราคาขาย</th>
        <th>อาคาร</th>
        <th>เกรด</th>
        <th>ผู้ผลิต</th>
        <th style="text-align: center;">เลือก</th>
    </tr>
    <tr ng-repeat="showdata in listChem | filter : searchThis | filter : selectData | limitTo : searchRange.value : begin">
        <td>{{showdata.cc_name}}</td>
        <td>{{showdata.cc_casNo}}</td>
        <td>{{showdata.cc_state | uppercase}}</td>
        <td>{{showdata.cc_quantity | number:4}} {{showdata.cu_name_abb | uppercase}}</td>
        <td>{{showdata.cc_price | number:4}} บาทต่อ 1 {{showdata.cu_name_abb | uppercase}}</td>
        <td>{{showdata.cl_name}}</td>
        <td>{{showdata.cc_grade}}</td>
        <td>{{showdata.cc_producer}}</td>
        <td style="text-align: center;"><button type="button" class="btn btn-success btn-sm" value="add" ng-click="addtCart(showdata)"><i class="fa fa-check-square"></i></button></td>
    </tr>
</table>

<form class="navbar-form navbar-left">
    <button type="button" class="btn btn-primary btn-xs"  ng-click="deleteRecord()" value="previous"><i class="fa fa-backward"></i>&nbsp;ย้อนกลับ</button>
    <button type="button" class="btn btn-primary btn-xs" ng-click="addRecord()" value="next">ถัดไป&nbsp;<i class="fa fa-forward"></i></button>
</form>
<form class="navbar-form navbar-right">
    <button class="btn btn-success" type="submit" value="ยืนยันการยืม" ng-click="createRequest()" >ยืนยันการเบิก</button>
</form>
