<body>
    <table class="table table-hover">
        <tr>
            <th>ลำดับคำร้องขอ</th>
            <th>เลขที่ใบเสร็จ</th>
            <th>วันที่ร้องขอ</th>
            <th>สถาณะการร้องขอ</th>
            <th>ค่าใช้จ่าย</th>
            <th>operation</th>
        </tr>
        <tr ng-repeat="showdata in ListReciept">
            <td>
            {{$index+1}}
            </td>
            <td>
            {{showdata.cr_no}}
            </td>
            <td>
            {{showdata.cr_crtDt}}
            </td>
            <td ng-bind-html="showdata.cr_status | confirmFilter"></td>
            <td>
            {{showdata.cr_totalprice}}
            </td>
            <td><input type="button" value="showDetail" ng-click="showPopup(showdata.cr_pk,$index)" 
                       data-toggle="modal" data-target="#myModal"></td>
        </tr>
    </table>   
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">รายการสารเคมี</h4>
              </div>
              <div class="modal-body">
                  <table width="100%">
                    <tr ng-repeat="showdata in chemdetail">
                        <td>
                            {{showdata.cc_name}}
                        </td>  
                        <td>
                            {{showdata.crd_amt}}
                        </td>  
                        <td>
                            {{showdata.crd_unit}}
                            
                        </td>  
                        <td>
                            {{showdata.crd_price}}&nbsp;credit
                        </td>  
                    </tr>
                  </table>
                  ค่าใช้จ่าย&nbsp; {{ListReciept[index].cr_totalprice}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
              </div>
            </div>
          </div>
        </div>  
</body>