<style>
    th, td{
        text-align: center;
    }
</style>

<div class="navbar-header">
    <caption><h4><i class="fa fa-plus-square"></i>&nbsp;สถานะคำร้องขอ</h4></caption>
</div>

<table class="table table-bordered">
    <tr>
        <th>ลำดับที่</th>
        <th>เลขที่ใบเสร็จ</th>
        <th>วัน-เวลาที่ร้องขอ</th>
        <th>สถานะการร้องขอ</th>
        <th ng-hide="key == 3">ราคารวมทั้งสิ้น</th>
        <th>รายละเอียด</th>
    </tr>
    <tr ng-repeat="showdata in ListReciept">
        <td>
        {{$index+1}}
        </td>
        <td>
        {{showdata.cr_no}}
        </td>
        <td>
        {{showdata.cr_crtDt}}
        </td>
        <td ng-bind-html="showdata.cr_status | confirmFilter"></td>
        <td ng-hide="key == 3"> 
        {{showdata.cr_totalprice}}
        </td>
        <td><input type="button" value="แสดง" ng-click="showPopup(showdata.cr_pk,$index)" 
                   data-toggle="modal" data-target="#myModal">
        </td>
    </tr>
</table> 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">รายการสารเคมี</h4>
      </div>
      <div class="modal-body">
          <table width="100%" class="table table-striped">
            <tr>
                <th>ชื่อสารเคมี</th>
                <th>จำนวน</th>
                <th>หน่วย</th>
                <th ng-hide="key == 3">ราคา</th>
            </tr>
            <tr ng-repeat="showdata in chemdetail">
                <td>
                    {{showdata.cc_name}}
                </td>  
                <td>
                    {{showdata.crd_amt}}
                </td>  
                <td>
                    {{showdata.crd_unit}}

                </td>  
                <td ng-hide="key == 3">
                    {{showdata.crd_price}}
                </td>  
            </tr>
          </table>
      </div>
      <div class="modal-footer">
          <label ng-hide="key == 3">ค่าใช้จ่ายรวมทั้งสิ้น : {{ListReciept[index].cr_totalprice}}</label>
        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>  
