<style>
    th{
        text-align: center;
    }
    #edit{
        width: 100%; padding: 5px 1px; margin: 1px 0; box-sizing: border-box;
    }
</style>

<caption><center><h4><b><i class="fa fa-folder-open"></i>&nbsp;โปรเจคนักศึกษา</b></h4></center></caption><hr>

<form class="navbar-form navbar-left">
        ระบุคำที่ต้องการค้นหา : <input type="text" class="form-control" ng-model="searchThis" placeholder="ค้นหา">
    </select>
</form> 

<form class="navbar-form navbar-right">
    จำนวนแถวที่แสดง : <select ng-init="searchRange = options[2]"
        class="form-control"
        ng-model="searchRange" 
        ng-options="option.name for option in options">
        </select> 
</form>

<table class= " table table-bordered" style="width:100%">
    <tr>
        <th>ลำดับที่</th>
        <th>ชื่อโปรเจค</th>
        <th>ระดับการศึกษา</th>
        <th>งบประมาณ</th>
        <th>หมายเหตุ</th>
        <th>แก้ไข</th>
        <th>ลบ</th>
    </tr>
    <tr ng-repeat="showdata in listProject | filter : searchThis | limitTo : searchRange.value : begin" ng-include="getTemplate(showdata)">
    </tr>
</table> 

<script type="text/ng-template" id="display">
    <td>{{$index+1}}</td>
    <td>{{showdata.cp_name}}</td>
    <td>{{showdata.cp_eduLvl}}</td>
    <td>{{showdata.cp_budget}}</td>
    <td>{{showdata.cp_desc}}</td>
    <td align="center"><button type="button" class="btn btn-primary btn-sm"  ng-click="editContact(showdata)" ><i class="fa fa-check-square"></i></button></td>
    <td align="center"><button type="button" class="btn btn-danger btn-sm"  ng-click="delectContact(showdata)" ><i class="fa fa-trash-o"></i></button></td>
</script>

<script type="text/ng-template" id="edit">
    <td>{{$index+1}}</td>
    <td>
        <input type="text" ng-model="editThisData.cp_name" id="edit"  class="form-control"/>
    </td>
    <td>
        <select  ng-model="editThisData.cp_eduLvl" ng-change="checkBudget()"  class="form-control">
            <option value="ปริญญาตรี" >ปริญญาตรี</option>
            <option value="ปริญญาโท">ปริญญาโท</option>
            <option value="ปริญญาเอก">ปริญญาเอก</option>
        </select>งบประมาณสูงสุด{{editThisData.maxBudget}}
    </td>
    <td>
        <input type="number" ng-model="editThisData.cp_budget" id="edit"  class="form-control"/>
    </td>
    <td>
        <input type="text" ng-model="editThisData.cp_desc" id="edit"  class="form-control"/>
    </td>
    
    <td align="center">
            <button class="btn btn-success btn-sm" ng-click="saveContact()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <button class="btn btn-default btn-sm" ng-click="reset()"><i class="fa fa-ban" aria-hidden="true"></i></button>
    </td>
    <td align="center"><button type="button" class="btn btn-danger btn-sm"  ng-click="delectContact(showdata)" disabled><i class="fa fa-trash-o"></i></button></td>
</script>

<form class="navbar-form navbar-left">
    <button type="button" class="btn btn-primary btn-xs"  ng-click="deleteRecord()" value="previous"><i class="fa fa-backward"></i>&nbsp;previous</button>
    <button type="button" class="btn btn-primary btn-xs" ng-click="addRecord()" value="next">next&nbsp;<i class="fa fa-forward"></i></button>
</form>

<table class= " table table-bordered" style="width:100%" ng-show="stu_tb == true">
    <tr>
        <th>ลำดับที่</th>
        <th>รหัส</th>
        <th>ชื่อ-นามสกุล</th>
        <th>เบอร์ติดต่อ</th>
    </tr>
    <tr ng-repeat="showdata in listStudent ">
        <td>{{$index+1}}</td>
        <td><input type="text" ng-model="listStudent[$index].cs_no" ng-value="showdata.cs_no"></td>
        <td><input type="text" ng-model="listStudent[$index].cs_name" ng-value="showdata.cs_name"></td>
        <td><input type="text" ng-model="listStudent[$index].cs_tel" ng-value="showdata.cs_tel"></td>
    </tr>
</table> 


