<style>
    th, td{
        text-align: center;
    }
</style>

<form action="../tcpdf/examples/export_pdf_withdraw.php" target="_blank" method="post">
    
<div ng-show="!content">
    <caption><center><h4><b><i class="fa fa-list-alt"></i>&nbsp;สถานะคำร้องขอ</b></h4></center></caption><hr>
    <table class="table table-bordered">
        <tr>
            <th>ลำดับที่</th>
            <th>เลขที่ใบเสร็จ</th>
            <th>วันที่ร้องขอ</th>
            <th>สถานะการร้องขอ</th>
            <th>ราคารวมทั้งสิ้น</th>
            <th>รายละเอียด</th>
        </tr>
        <tr ng-repeat="showdata in listReciept">
            <td>
            {{$index+1}}
            </td>
            <td>
            {{showdata.cr_no}}
            </td>
            <td>
            {{showdata.cr_crtDt | Date}}
            </td>
            <td ng-bind-html="showdata.cr_status | confirmFilter"></td>
            <td> 
            {{showdata.cr_cost | number:4}}
            </td>
            <td>
<!--              <form action="../tcpdf/examples/export_pdf_withdraw.php" target="_blank" method="post">-->
                  <input type="hidden" value="{{showdata.cr_pk}}" name="crd_cr_fk">
                  <input type="button" class="btn btn-default" value="แสดง" ng-click="showdetail(showdata.cr_pk,$index)">
<!--              </form>-->
            </td>
    </tr>
    </table> 
</div> 
<div ng-show="content">
    <caption><center><h4><b><i class="fa fa-list-alt"></i>&nbsp;รายละเอียด</b></h4></center></caption><hr>
    
<!--    <form class="navbar-form navbar-right">-->
        <input type="submit" class="btn btn-default" ng-hide="listReciept[index].cr_status != 3" value="พิมพ์ใบเสร็จ">
        <input type="button" class="btn btn-default" value="ย้อนกลับ" ng-click="content = false">
<!--    </form>-->
    <table width="100%" class="table table-striped">
        <tr>
            <th>ชื่อสารเคมี</th>
            <th>จำนวน</th>
            <th>หน่วย</th>
            <th>สถานที่</th>
            <th>สถานะ</th>
        </tr>
        <tr ng-repeat="showdata in chemdetail">
            <td>
                {{showdata.cc_name}}
            </td>  
            <td>
                {{showdata.crd_amt | number:4}}
            </td> 
            <td>{{showdata.cl_name}}</td>
            <td>
                {{showdata.crd_unit}}
            </td>  
            <td ng-bind-html="showdata.crd_status | confirmFilter"></td>
        </tr>
      </table>
    
    <form class="navbar-form navbar-right">
    <div class="well" style="width: 250px;">
        ค่าใช้จ่ายรวม : {{listReciept[index].cr_cost | number:4}} บาท
    </div>
</form>
</div>
    
</form>