 <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href=""><i class="fa fa-plus-square"></i>&nbsp;ย้ายคลังสารเคมี</a>
        </div>
        <ul class="nav navbar-nav">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <strong>ค้นหารายการ :&nbsp;</strong><input class="form-control" type="text" ng-model="searchThis.$" placeholder="ใส่คำที่คุณต้องการค้นหา">
                </div>
                <strong>คลัง : </strong><select ng-model="searchThis.cl_name" >
                        <option  value="">ทั้งหมด</option>
                        <option ng-repeat="ll in listLoc" value="{{ll.cl_name}}">{{ll.cl_name}}</option>
                </select>
                    <select ng-init="searchRange = options[2]" 
                        ng-model="searchRange" 
                        ng-options="option.name for option in options">
                        </select> 
                    <button type="button" class="btn btn-primary btn-xs"  ng-click="deleteRecord()" value="previous"><i class="fa fa-backward"></i>&nbsp;previous</button>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="addRecord()" value="next">next&nbsp;<i class="fa fa-forward"></i></button>
                </form> 
            </ul>
        </div>
    </nav>
<div class ="container">
    <table class= " table table-bordered">
            <tr>
                <th>ชื่อสารเคมี</th>
                <th>Cas no.</th>
                <th>สถานะ</th>
                <th>ปริมาณ</th>
                <th>อาคาร</th>
                <th>ห้อง</th>
                <th>ราคา/หน่วย</th>
                <th>เกรด</th>
                <th>ผู้ผลิต</th>
                <th>นำเข้า</th>
            </tr>
            <tr ng-repeat="showdata in listChem | filter : searchThis | limitTo : searchRange.value : begin">
                <td>{{showdata.cc_name}}</td>
                <td>{{showdata.cc_casNo}}</td>
                <td>{{showdata.cc_state}}</td>
                <td>{{showdata.cc_quantity}}</td>
                <td>{{showdata.cl_name}}</td>
                <td>{{showdata.cc_room}}</td>
                <td>{{showdata.cc_price}}/{{showdata.cu_name_abb}}</td>
                <td>{{showdata.cc_grade}}</td>
                <td>{{showdata.cc_producer}}</td>
                <td> <button type="button" class="btn btn-success btn-sm" value="เลือก" ng-click="addCart(showdata)" data-toggle="modal" data-target="#myModal"><i class="fa fa-check-square"></i>&nbsp;เลือก</button></td>
            </tr>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">ยืนยันแก้ไขย้ายคลังสารเคมี</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form" >
                <div class="form-group">
                    <label for="cc_name" class="col-sm-3 control-label">ชื่อสารเคมี :</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="cc_name" type="text" class="" disabled/>
                    </div>  
                </div>
                <div class="form-group">
                    <label for="cc_type" class="col-sm-3 control-label">ประเภทสารเคมี :</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="cc_type" type="text" class="" disabled/>
                    </div>  
                </div>  
                <div class="form-group">
                    <label for="cc_code" class="col-sm-3 control-label">รหัสสารเคมี :</label></td>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="cc_code" type="text" class="" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cc_casNo" class="col-sm-3 control-label">เลขอ้างอิงเฉพาะ (Cas no.) :</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="cc_casNo" type="text" class="" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="location" class="col-sm-3 control-label">จากคลัง :</label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="cc_loc_name" type="text" class="" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="location" class="col-sm-3 control-label">ย้ายไปคลัง :</label></td>
                    <div class="col-sm-6">
                        <select ng-model="cc_location_fk" >
                            <option ng-repeat="ll in listLoc" value="{{ll.cl_pk}}">{{ll.cl_name}}</option>
                        </select> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="cc_desc" class="col-sm-3 control-label">หมายเหตุ :</label></td>
                    <div class="col-sm-6">
                        <textarea ng-model="cc_desc" id="form-cc_desc" rows="4" cols="50"></textarea>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-primary" ng-click="updateTransfLocChem()">บันทึก</button>
          </div>
        </div>
      </div>
    </div> 
</div>