<body  ng-app="chemstore" ng-controller="namesCtrl">    
    ค้นหารายการ <select ng-model="selectData" ng-options="option.cl_name for option in listLocation" ng-change="getdata()">
    <option value="">เลือกคลัง...</option>
    </select>
    <input type="text" ng-model="searchThis" placeholder="ใส่คำที่คุณต้องการค้นหา">
    <caption><H3>รายชื่อสารเคมี</H3></caption>
    <table width="100%" border="1"  id="here">
        <tr>
            <th bgcolor = 66CCCC width="20%" >ชื่อสารเคมี</th>
            <th bgcolor = 66CCCC width="10%">รหัส</th>
            <th bgcolor = 66CCCC width="5%">สถานะ</th>
            <th bgcolor = 66CCCC width="10%">ปริมาณ</th>
            <th bgcolor = 66CCCC width="10%">อาคาร</th>
            <th bgcolor = 66CCCC width="5%">ห้อง</th>
            <th bgcolor = 66CCCC width="5%">ราคา/หน่วย</th>
            <th bgcolor = 66CCCC width="5%">เกรด</th>
            <th bgcolor = 66CCCC width="10%">ผู้ผลิต</th>
        </tr>
        <tr ng-repeat="showdata in chemList | filter : searchThis ">
            <td>{{showdata.cc_name}}</td>
            <td>{{showdata.cc_casNo}}</td>
            <td>{{showdata.cc_state}}</td>
            <td>{{showdata.cc_quantity}}</td>
            <td>{{showdata.cl_name}}</td>
            <td>{{showdata.cc_room}}</td>
            <td>{{showdata.cc_price}}/{{showdata.cu_name_abb}}</td>
            <td>{{showdata.cc_grade}}</td>
            <td>{{showdata.cc_producer}}</td>
        </tr>
    </table>    
</body>
