<caption><center><h4><b><i class="fa fa-file-text-o"></i>&nbsp;อันดับสารเคมีที่เบิก</b></h4></center></caption><hr>
<div>

            <strong>ตั้งแต่ :</strong>
            <input ng-model="reptChemRank.stDt" name="stDt" type="date" />
              
            <strong>ถึง :</strong>
            <input ng-model="reptChemRank.edDt" name="edDt" type="date" />
            <br>
            <br>
            
            <button type="button" class="btn btn-default" ng-click="search()" ><i class="fa fa-search" aria-hidden="true"></i>&nbsp;ค้นหา</button> 
</div><hr>
<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>